rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /listings/{listingId} {
      allow create, read, update, delete: if request.time < timestamp.date(2026, 4, 6);
      // TODO: tighten with auth when Firebase Auth is added
    }
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2026, 4, 6);
    }
  }
}
